<?xml version='1.0'?>
<web-app>
	<description>eXtreme Programming User Group News Aggregator</description>

	<servlet>
		<servlet-name>News</servlet-name>
		<servlet-class>it.xpug.xpuga.servlet.NewsController</servlet-class>
		<init-param>
			<param-name>location</param-name>
			<param-value>/data/news</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>News</servlet-name>
		<url-pattern>/news/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/jsp/index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
